<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show</title>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery.js"></script>

</head>
</head>
<body>
<header>
    <h1>各栏目当日点击量</h1>
    <div class="showTime" >当前时间：2020年3月17-0时54分14秒</div>
    <script>
        var t = null;
        t = setTimeout(time, 1000); //開始运行
        function time() {
            clearTimeout(t); //清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours(); //获取时
            var m = dt.getMinutes(); //获取分
            var s = dt.getSeconds(); //获取秒
            document.querySelector(".showTime").innerHTML =
                "当前时间：" +
                y +
                "年" +
                mt +
                "月" +
                day +
                "-" +
                h +
                "时" +
                m +
                "分" +
                s +
                "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
    </script>
</header>

<div id="main" style="width: 1200px;height:400px;position:absolute;top:50%;left:50%;margin-top: -200px;margin-left: -600px"></div>
    <script type="text/javascript">
        function f() {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            myChart.setOption({
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ["动画", "音乐", "舞蹈", "科技", "生活", "时尚", "娱乐", "放映厅", "番剧", "国创", "游戏", "数码"],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '直接访问',
                        type: 'bar',
                        barWidth: '60%',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,		//开启显示
                                    position: 'top',	//在上方显示
                                    textStyle: {	    //数值样式
                                        color: 'black',
                                        fontSize: 16
                                    }
                                }
                            }
                        },
                        data:(function () {
                            var datas=[];
                            $.ajax({
                                type:"POST",
                                url:"/visual/query",
                                dataType:"json",
                                async:false,
                                success:function(result){
                                    for (var i = 0;i<result.length;i++){
                                        datas.push(result[i])
                                    }

                                }
                            })
                            return datas;

                        })()
                    }
                ]
            });

            myChart.setOption(option);
        }

        $(function(){
            setInterval("f()",1000)
        })
    </script>

</body>
</html>